APP_NAME=HandyTools
APP_ENV=development
DEBUG=false

DB_HOST=localhost
DB_PORT=5432
DB_USER=test
DB_PASSWORD=test
DB_NAME=handy_tools_db

STORED_DOCUMENTS_DIR=stored_documents
ALLOWED_EXTENSIONS=.pdf,.doc,.docx,.xls,.xlsx,.txt
MAX_UPLOAD_MB=50
